<ion-content class="register-background">
  <div class="register-container">
    <h1>Register</h1>
    <p>Create an account to continue!</p>

    <ion-list lines="none">

      <ion-item>
        <ion-label position="stacked">First Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Last Name</ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Email</ion-label>
        <ion-input type="email" placeholder="loisbecket@gmail.com"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Phone</ion-label>
        <ion-input type="tel" placeholder="+57 (300) 123-4567"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Password</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button expand="block" class="register-button">Register</ion-button>

    <p class="login-link">
      Already have an account?
      <a href="#">Log in</a>
    </p>
  </div>
</ion-content>
